@import './normalize.css';
@import './variables.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFang SC, Helvetica Neue, Hiragino Sans GB, Microsoft YaHei,Arial, sans-serif;
  overflow-x: hidden;
}
div {
  padding: 0;
  margin: 0;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
a{
  @include font(14px, #409eff, 400);
}
a:hover{
  @include font(14px, #1989fa, 400);
  outline: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
th,
td {
  margin: 0;
  padding: 0;
}
ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:focus,
a:hover {
  cursor: pointer;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.container{
  background: #fff;
  padding: 20px;
  min-height: calc(100vh - 104px);
  // border: 1px solid #eaeefb;
}
.pagination {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}